<?xml version="1.0"?>
<robot name="lidar_robot">
  <!-- Replace all dimensions and LiDAR position with measurements. -->
  <link name="base_footprint"/>
  <link name="base_link">
    <visual>
      <geometry><box size="0.24 0.16 0.04"/></geometry>
      <origin xyz="0 0 0"/>
    </visual>
  </link>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.049"/>
  </joint>

  <link name="left_front_wheel">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry><cylinder radius="0.049" length="0.03"/></geometry>
    </visual>
  </link>
  <joint name="left_front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_front_wheel"/>
    <origin xyz="0.11 0.0825 0"/>
  </joint>

  <link name="left_rear_wheel">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry><cylinder radius="0.049" length="0.03"/></geometry>
    </visual>
  </link>
  <joint name="left_rear_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_rear_wheel"/>
    <origin xyz="-0.11 0.0825 0"/>
  </joint>

  <link name="right_front_wheel">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry><cylinder radius="0.049" length="0.03"/></geometry>
    </visual>
  </link>
  <joint name="right_front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_front_wheel"/>
    <origin xyz="0.11 -0.0825 0"/>
  </joint>

  <link name="right_rear_wheel">
    <visual>
      <origin rpy="1.5708 0 0"/>
      <geometry><cylinder radius="0.049" length="0.03"/></geometry>
    </visual>
  </link>
  <joint name="right_rear_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_rear_wheel"/>
    <origin xyz="-0.11 -0.0825 0"/>
  </joint>

  <link name="base_laser">
    <visual><geometry><cylinder radius="0.0175" length="0.014"/></geometry></visual>
  </link>
  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0.10 0 0.133" rpy="0 0 0"/>
  </joint>

  <!-- Set this transform to the measured IMU position and orientation. -->
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.075 0 0.055" rpy="0 0 1.5708"/>
  </joint>
</robot>
